<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="yirmihaziranConnectionString" connectionString="Data Source=PCB;Initial Catalog=yirmihaziran;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="deneme2ConnectionString" connectionString="Data Source=KEREMWIN;Initial Catalog=deneme2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="chpypConnectionString" connectionString="Data Source=.\chp;Initial Catalog=chpyp;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>

    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd"  type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
    </handlers>
  </system.webServer>
</configuration>